<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<div class="login-form">
    <form id="loginForm" action="/account/" method="post">
        <fieldset>
            <legend></legend>
            <label class="form-label">Email:<input type="email" name="account_email" id="accountEmail" required value="<%= locals.account_firstname %>"></label>
            <label class="form-label">Password:<input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
            <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
            <button type="submit">LOGIN</button>
            <p>No account? <a href="/account/register">Sign-up</a></p>    
        </fieldset>       
    </form>
</div>