<header class="site-header">

  <span class="site-name">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

  <div id="user-tools">
    <% if (user) { %>
      <p>Welcome, <%= user.name %>! |  <a href="/account/logout">Logout</a></p>
    <% } else { %>
      <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>
  </div>
  
</header>
