<%- include('../partials/head') %>

<nav>
    <ul class="navbar-links">
        <li class="navbar-item"><a class="navbar-link" href="/about">Home</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/blog">Custom</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/careers">Sedan</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/contact">Suv</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/contact">Truck</a></li>
    </ul>
</nav>
