/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}/* Mobile First Styles */
body{
  
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-image: url('/images/site/small_check.jpg'); 
  background-repeat: no-repeat; /* Prevent image repetition */
}
nav{
  margin-top: 15px;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: grid;
  place-items: center;
  position: relative;
  top: 30px;
  width: 86%;
  margin-left: 7%;
  border-radius: 5px;
}

.home-link h1 {
  margin: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
}

/* Larger Screen Styles */
@media (min-width: 768px) {
  .navbar-links li {
      margin: 0 2rem;
  }
}
.wrapper{
  background-color: white;
  margin-top: -90px;
  padding: 100px; 
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 10px;
  border: 5px solid rgb(9, 216, 231);
  border-radius: 10px;
}
.delorean{
  background-image: url('/images/vehicles/delorean.jpg');
  background-repeat: no-repeat; /* Prevent image repetition */
  padding-bottom: 320px;
  margin-left: 50px;
}
.advert{
  padding-left: 80px; 
  background-color: rgba(228, 235, 235, 0.849);
  padding: 20px;
  color: rgb(8, 114, 114);
  width: 140px;
  float: left;
}

.advert a{
  padding: 10px;
  background-color: rgb(45, 215, 221);
  border-radius: 10px; 
  color: black;
  list-style: none;

}
.account a {
  
  text-decoration: none;/* Mobile First Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-image: url('/images/site/small_check.jpg');
  background-repeat: no-repeat; /* Prevent image repetition */
}

.wrapper {
  padding-left: 10px;  
  margin: 55px;
  margin-top: 30px;
  border: 5px solid rgb(9, 216, 231);
}

.account a {
  color: red;
  text-decoration: none;
  border-color: aqua;
}


}

header {        
  position: relative;
  top: 30px;  
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
}


.upgrades, .reviews {
  padding: 1rem;
  text-align: center;
}

.upgrades h3, .reviews h3 {
  margin-top: 0;
}

.upgrade-item {
  display: inline-block;
  width: 100px;
  margin: 2%;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.upgrade-item img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-bottom: 0.5rem;
}


.column {
  overflow: hidden;
}

.half {
  width: 50%;
  float: left;
}

footer{
  background-color: #333;
  color: #fff;  
  padding: 1rem;
  display: grid;
  place-items: center;
  position: relative;
  top: 30px;
  width: 86%;
  margin-left: 7%;
  margin-top: -100px;
  border-radius: 10px;
}