/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Mobile First Styles */
body {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;  
  background-image: url('/images/site/small_check.jpg');
  background-repeat: no-repeat;
  /* Prevent image repetition */
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: .85rem;
  border-radius: 10px;
}

.form-container p {
  margin: 8px auto;
}

.form-container label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 10px;
  
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: .85rem;
}

.form-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.form-group input:focus:invalid,
textarea:focus:invalid {
  background-color: rgb(245, 255, 188);
  background-image: url("/images/site/invalid.png");
  background-size: 16px 16px;
  background-position: right top;
  background-repeat: no-repeat;
}

.form-group input:required:valid,
textarea:required.valid {
  background-color: rgb(255, 255, 255);
  background-image: url("/images/site/valid.png");
  background-size: 16px 16px;
  background-position: right top;
  background-repeat: no-repeat;
}

.form-button {
  padding: 5px;
  margin-top: 10px;
  background-color: #6b6d6c;
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

#togglePassword {
  padding: 5px;
  margin-top: 5px;
  background-color: rgb(41, 39, 39);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: .75rem;
  text-transform: uppercase;
}

/* General styling for the header */
#top-header {
  background-color: #f8f9fa; /* Light background color */
  padding: 10px 20px; /* Padding around the header */
  display: flex; /* Flexbox for layout */
  justify-content: space-between; /* Space between site name and tools */
  align-items: center; /* Center items vertically */
  border-bottom: 1px solid #ddd; /* Bottom border for separation */
}

/* Styling for the site name */
.siteName {
  font-size: 24px; /* Larger font size for site name */
  font-weight: bold; /* Bold font weight */
}
.siteName a {
  color: #8e793e; /* Link color */
  text-decoration: none; /* Remove underline */
}
a{
  color: #8e793e; /* Link color */
  text-decoration: none; /* Remove underline */
}
.siteName a:hover {
  color: #231F20;
  text-decoration: underline; /* Underline on hover */
}




/* Navigation container styling */
nav {
  text-transform: uppercase; /* Change text to all caps */
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange items in a row */
  background-color: #fff; /* White background for the navigation bar */
  width: 99%;  /* Slightly reduced width to avoid edge overflow */
  margin-top: 30px; /* Add some space above the navigation */
}

/* Reset default list styles */
ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

/* Styling for the navigation list */
nav ul {
  background-color: rgba(142, 121, 62, 0.20); /* 0.5 is the opacity (20% transparent) */  
  font-family: Roboto Mono; /* Set font to Roboto Mono */
  font-size: 18px; /* Set font size */
  font-weight: 700; /* Set font weight to bold */
  color: 8e793e ; /* Gray text color */
  width: 700px; /* Set a fixed width */
  margin: 0 auto; /* Center the navigation bar */

  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Evenly distribute items */
  background-color: #fff; /* White background for the list */
  width: 100%; /* Set width to full */
}

/* Styling for each list item */
nav li {
  margin: 0 1rem; /* Add space between list items */
  display: inline-block; /* Display items in a row */
  position: relative; /* Enable positioning for pseudo-elements */
}

/* Styling for links within list items */
nav li a {
  color: #EAEAEA; /* Dark gray text color */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display links in a row */
  position: relative; /* Enable positioning for pseudo-elements */
  line-height: 2.5; /* Set line height for vertical spacing */
  padding: 0 20px; /* Add horizontal padding */
}

/* Active state styling */
nav .active {
  background-color: rgba(0, 0, 0, 0.2); /* Slightly transparent black background */
}

/* Hover effect for list items */
nav li:hover::before,
nav li:hover::after {
  background:#AD974F; /* Change background to light salmon on hover */
}

/* Pseudo-elements before and after each list item */
nav li::before,
nav li::after {
  content: ''; /* Empty content for the pseudo-elements */
  position: absolute; /* Position relative to the parent list item */
  left: 0; /* Align to the left */
  height: 50%; /* Set height to half of the parent */
  width: 100%; /* Set width to full */
  background: 	#231F20; /* White background */
  border-left: 2px solid #EAEAEA; /* Add left border */
  border-right: 2px solid #EAEAEA;  /* Add right border */
  
}

/* Styling for the top pseudo-element */
nav li::before {
  top: 5px; /* Position slightly above the list item */
  transform: skew(30deg); /* Skew the element for visual effect */
  border-top: 2px solid #666; /* Add top border */
}

/* Styling for the bottom pseudo-element */
nav li::after {
  
  bottom: -5px;  /* Position slightly below the list item */
  transform: skew(-30deg); /* Skew the element in the opposite direction */
  border-bottom: 2px solid #666; /* Add bottom border */
}

/* Special styling for the first list item */
nav li:first-child {
  
  box-sizing: content-box; /* Adjust box sizing */
}

/* Adjust the positioning of pseudo-elements for the first list item */
nav li:first-child::before,
nav li:first-child::after {
  left: 5px; /* Move pseudo-elements slightly to the right */
}


.wrapper {
  background-color: white;
  padding-left: 10px;
  margin-top: 30px;
  margin-left: 55px;
  margin-right: 55px;
  border: 5px solid #8e798e(9, 216, 231);
  border-radius: 10px;
}

.deloran {
  width: 100%;
}


.advert {
  background-color: rgba(142, 121, 62, 0.5); /* 0.5 is the opacity (50% transparent) */ 
  padding: 20px;
  width: 140px;
  border-radius: 10px;
  position: absolute;
  /* Adjust top, right, bottom, left as needed */
  z-index: 1;
  /* Control layering */
}

.advert a {
  padding: 10px;
  background-color:#8e793e;
  border-radius: 10px;
  color: #EAEAEA;
  list-style: none;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}


header {
  position: relative;
  top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
}

.intro {
  display: grid;
  place-items: center;
}

.upgrades,
.reviews {
  padding: 1rem;
  text-align: center;
}

.upgrades h3,
.reviews h3 {
  margin-top: 0;
}

h2 {
  padding-left: 100px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}



.upgrade-item {
  display: inline-block;
  width: 100px;
  margin: 2%;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.upgrade-item img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  opacity: 0.9;
  transition: 0.5s;
}

.upgrade-item:hover > img {
  opacity: 1;
  transform: scale(1.4);
}
.upgrades, .items {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two equal-width sub-columns */
}


footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: grid;
  place-items: center;
  position: relative;
  top: 30px;
  width: 99%;

  border-radius: 10px;
}

form {
  width: 90%;
}

form-group {
  background-color: rgba(0, 17, 17, 0.164);
  margin-top: 20px;
}

.account-reg {
  padding-left: 100px;
}

#MainContent {
  background-image: url('image-url');
  background-size: cover;
  background-position: center;
}

/* styles.css */
.veh-display {
  /* Add styles for the entire vehicle display container */
  /* For example: */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two equal-width sub-columns */

}

.vehicle-name {
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two equal-width sub-columns */
}

.vehicle-mp {
  display: grid;
  /* Two equal-width sub-columns */
}



.vehicle-image {
  /* Add styles for the vehicle image */
  /* For example: */
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.vehicle-info {
  /* Add styles for the vehicle information section */
  /* For example: */
  font-size: 16px;
  color: #333;

}

.vehicle-buttons {
  width: 100px;
}

.vehicle-buttons :hover {
  background-color: #8e793e;
}

.vehicle-mp {
  padding-left: 10px;
  background-color: rgba(0, 17, 17, 0.164);
  width: 110px;
}

h5 {
  background-color: #ffffff;
  width: 60px;
}

.estimate {
  margin-top: -50px;
  padding-left: 220px;
  color: #8e793e;
}

.divine {
  display: inline-block;
  width: auto;
  margin: 2%;
  padding: 1rem;
  border-radius: 5px;
}

.divine li{
  background: rgba( 255, 255, 255, 0.15 );
  padding: 32px;
  display: grid;
  place-items: center;
  border-radius: 10px;
}
.namePrice a{ 
  padding: 0; 
  color: #8e793e;

}
.namePrice h3{
  padding: 0;
}
.namePrice span{
  display: grid;
  place-items: center;
}
.divine img {
  width: 100%;
  max-width: 150px;
  height: 100px;  
  margin-bottom: 0.5rem;
  border-radius: 10px;
  opacity: 0.9;
  transition: 0.5s;
}

.divine img:hover {
  opacity: 1;
  transform: scale(1.4);
}

.vehicle-detail {
  margin: 50px;
}

.management-label {
  padding-top: 10px;
}

/* Mobile View ***************/
#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: .5rem .75rem;
  color: rgb(0, 0, 0, 0.3);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

form {
  padding-left: 100px;

}

fieldset{
  background-color: rgba(169, 169, 169, 0.363);
}

.form-group {
  margin: 6px;

}


fieldset {
  display: flex;
  flex-direction: column;
}

#menu::before {
  content: "≡";
}


nav li {
  display: none;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "❌";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 70em) {
  nav {
    display: flex;
  }

  nav li {
    display: block;
    /* change state in small view */
    flex: 1 1 100%;
  }

  nav a {
    text-align: center;
  }

  #menu {
    display: none;
  }  
}