<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<!--This will show three distint sections:
 A Content heading, 
 a message and the Inventory Items Display. -->

<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>



        <form id="management_form" action="/inv/add-classification" method="post">
            <fieldset>
               
                <p>Field is required</p>
                <label class="management-label">Classification Name<input type="text" name="classification_name"
                        id="classificationName" required pattern="[a-zA-Z]+"
                        value="<%= locals.classification_name %>"></label>
                <span>Name must be alphabetic characters only</span>
                <button type="submit">Add New Classification</button>
            </fieldset>
        </form>

</html>