<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

    <% messages() %>



      <div class="management-form">

        <form action="/inv/delete/<%= inv_id %>" method="post">

        </form>
      </div>