<%- include('../partials/head') %>
    <% if (title) { %>
        <%- messages() %>
            <h2>
                <%= title %>
            </h2>
            <% } %>

                <%- detailedView %>