<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
  <h2>
    <%= title %>
  </h2>
  
  <%- messages() %>
    <ul>
      <li><a href="./add-classification">Add New Classification</a></li>
      <li><a href="./add-inventory">Add New Inventory Item</a></li>
    </ul>

</html>