<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<h2>
    <%= title %>
</h2>
  <fieldset>
    <p><%= message %></p>

    
    <p>It looks like something went wrong. But don't worry, we're on it!</p>
    <p>In the meantime, here's a joke to cheer you up:</p>
    <blockquote>
      Why don't scientists trust atoms?<br>
      Because they make up everything!
    </blockquote>
  </fieldset>
</html>